@page "/"
@using Blazor_RickAndMorty.components
@inject Blazor_RickAndMorty.Services.IRickAndMortyService RickAndMortyService

<PageTitle>Home</PageTitle>

<h3>Rick and Morty Characters</h3>

@if (characters.Count == 0)
{
    <MudProgressCircular Color="Color.Success" Indeterminate="true" />
}
else
{
    <MudGrid>    
        @foreach (var character in characters)
        {
            <MudItem>
                <CardCharacter Character="character" />
            </MudItem>
        }
    </MudGrid>
}

@code {
    private List<Blazor_RickAndMorty.Models.Character> characters = new List<Blazor_RickAndMorty.Models.Character>(); // Inicializando a lista

    protected override async Task OnInitializedAsync()
    {
        characters = await RickAndMortyService.GetCharacters();
    }
}
