@page "/"
@using Blazor_RickAndMorty.components
@inject Blazor_RickAndMorty.Services.IRickAndMortyService RickAndMortyService

<PageTitle>Home</PageTitle>

<div>
    @if (characters.Count == 0)
    {
        <MudProgressCircular Color="Color.Success" Indeterminate="true" />
    }
    else
    {
        <MudGrid AlignItems="center" JustifyContent="center">
            @foreach (var character in characters)
            {
                <MudItem xs="12" sm="6" md="4" lg="3">
                    <CardCharacter Character="character" />
                </MudItem>
            }
        </MudGrid>
    }
</div>


@code {
    private List<Blazor_RickAndMorty.Models.Character> characters = new List<Blazor_RickAndMorty.Models.Character>(); // Inicializando a lista

    protected override async Task OnInitializedAsync()
    {
        characters = await RickAndMortyService.GetCharacters();
    }
}
